  /* General Styles */
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: hwb(65 96% 0%);
	/* background-image: url(./fritas_p1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right; */
	color: #333;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #header img {
	vertical-align: middle;
  }

  #header h1 {
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	text-shadow: 0 0 1px rgb(0, 0, 0);
  }

  #out h1 {
	text-align: center;
	color: #000000;
	text-shadow: 0 0 5px wheat;
  }
  
  #out h2 {
	text-align: center;
	color: #000000;
	text-shadow: 0 0 5px wheat;
  }
  
  /* Header */
  header {
	background-color: #3799d6;
	box-shadow: 0 0 3px 1px black;
	text-align: center;
  }

  #header {
	color: rgb(255, 255, 255);
	padding: 5px;
  }
  
  
  /* Main Content */
  .main {
	/* background-color: #6fa0cea6; */
	padding: 20px;
	min-height: 83vh;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .material {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
  }
  
  .material div {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .material label {
	margin-right: 10px;
	font-weight: bold;
  }
  
  input[type="number"] {
	width: 100px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  /* Button */
  #click {
	text-align: center;
	margin: 20px 0;
  }
  
  #click button {
	padding: 10px 20px;
	background-color: #5488f8;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
  }
  
  #click button:hover {
	background-color: #0056b3;
  }
  
  /* Output Section */
  #out {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
  }
  
  #out div {
	background-color: #ff6767;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
	width: 45%;
	text-align: center;
  }
  
  /* Footer */
  footer {
	background-color: #003049;
	color: white;
	padding: 10px;
	text-align: center;
}

footer a {
	font-size: large;
	font-weight: bold;
	color: white;
	margin: 2rem;
	text-decoration: none;
	text-wrap: nowrap;
  }
  
  footer a:hover {
	text-decoration: underline;
  }

  svg {
	vertical-align: middle;
	margin-left: 0.5rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
	.material {
	  grid-template-columns: 1fr;
	}
  
	#out {
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
  
	#out div {
	  width: 90%;
	  margin-bottom: 20px;
	}
  }
  
  @media (max-width: 480px) {
 	#header h1 {
	  font-size: 1.5rem;
	}

  
	#click button {
	  width: 100%;
	}
  }
  